.question {
  background-color: var(--textarea);
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
  padding: 24px;

  & + .question {
    margin-top: 8px;
  }

  p {
    color: var(--text-color);
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 24px;

    button {
      border: 0;
      background-color: transparent;
      cursor: pointer;

      transition: filter 0.1s;

      &:hover {
        filter: brightness(0.8);
      }
    }
  }
}

.userInfo {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    border-radius: 50%;
  }

  span {
    margin-left: 8px;
    color: var(--gray-text);
    font-size: 14px;
  }
}
