.roomCode {
  height: 40px;
  border-radius: 8px;
  overflow: hidden;

  background-color: var(--white);
  border: 1px solid var(--primary);

  transition: filter 0.1s;

  cursor: pointer;

  display: flex;

  div {
    height: 100%;
    background-color: var(--primary);
    padding: 0 4px;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
      min-height: 20px !important;
    }
  }

  span {
    display: block;
    align-self: center;
    flex: 1;
    padding: 0 16px 0 12px;
    width: 240px;
    font-size: 14px;
    font-weight: 500;
    color: var(--text-color);
  }

  &:hover {
    filter: brightness(0.95);
  }
}
